p{
    color: rgb(134, 102, 248);
}
.p{
    border: 2px salmon;
}
.hobbies{
  border: 5px;
  border-style: dotted;
  padding: 50px 50px 50px 50px;
  padding-block: 30px;
  border-radius: 20px;
  border-color: blue;
}